@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --confirmBtn: #0cce6b;
    --cancelBtn: #ef2d56;
    --bgColor: #F8FAFC;
    --btnLogin: #0569ff;
    --btnSignUp: #0569ff;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, label, li {
    font-family: 'Inconsolata'
}

.dsp-flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.dsp-flex-start {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.dsp-between {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.dsp-around {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.dsp-grid-center {
    display: grid;
    align-content: center;
}


.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-80 {
    margin-top: 80px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-80 {
    margin-bottom: 80px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

/*Navbar*/

.btnLogin {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    transition: ease-in-out 0.4s;
}

.btnLogin:hover {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
    transition: ease-in-out 0.4s;
}

.btnLogin:visited {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
    transition: ease-in-out 0.4s;
}

.imgLogo {
    height: auto;
    width: 200px;
}

.createAccountTxt {
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
}

.getMerged {
    color: var(--btnLogin);
    font-size: 3rem;
    font-weight: bold;
}

.hookText {
    color: #b2b2b2;
}
/*section*/

.registerDeveloper {
    border: 2px solid var(--btnLogin);
    background-color: var(--btnLogin);
    font-family: 'Inconsolata';
    color: var(--bgColor);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
    width: 120px;
    height: 40px;
}

.registerDeveloper:hover {
    border: 2px solid var(--btnLogin);
    background-color: var(--bgColor);
    font-family: 'Inconsolata';
    color: var(--btnLogin);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
    width: 120px;
    height: 40px;
}

.registerRecruiter {
    border: 2px solid var(--btnLogin);
    background-color: var(--bgColor);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--btnLogin);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.registerRecruiter:hover {
    border: 2px solid var(--btnLogin);
    background-color: var(--btnLogin);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--bgColor);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.testimonialTab {
    color: #000000;
    font-size: 1rem;
    text-align: center;
    padding-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.cardTestimonial {
    border: 2px solid #b0b0b0;
    height: auto;
    width: auto;
    border-radius: 5px;
    margin: 10px;
}

.headerCardTestimonial {
    color: #000f;
    font-size: 16px;
    padding: 0px 10px 0px 10px;
}

.cardImage {
    margin: 10px;
    border-radius: 50%;
    height: auto;
}
/*register form*/
.FormSignUp {
    border: 2px solid var(--btnLogin);
    height: auto;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
}

.userForm {
    border: none;
    background-color: var(--btnLogin);
    height: auto;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    color: var(--bgColor);
    margin: 5px;
}

.devSubmitForm {
    background-color: var(--confirmBtn);
    color: var(--bgColor);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: Inconsolata;
    font-size: 22px;
}

.clearForm {
    background-color: var(--cancelBtn);
    color: var(--bgColor);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: Inconsolata;
    font-size: 22px;
}

/*dashboard*/

.cardHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    column-gap: 15px;
}

.card {
    border: 5px solid var(--btnLogin);
    border-radius: 10px;
    height: 250px;
    width: 500px;
    box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.4);
    padding: 15px;
}

.imgCard {
    height: auto;
    padding: 10px;
    width: 100px;
}

.frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.username {
    color: #000;
    margin-bottom: 0;
}

.checkBio {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: var(--confirmBtn);
    color: var(--bgColor);
    padding: 10px;
    margin: 10px;
}

.stackInfo {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.bioBox {
    border: 2px solid var(--btnLogin);
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: auto;
}

.likeButton {
    border: 2px solid #000;
    border-radius: 50%;
    box-shadow: 15px 10px 10px 0 rgba(0, 0, 0, 0.4);
    height: auto;
    width: 60px;
    margin: 10px;
}

.likeImg {
    height: auto;
    width: 100%;
    padding: 10px;
}

.matchBox {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnCloseModal {
    background-color: var(--cancelBtn);
    border: 0;
    color: var(--bgColor);
    height: auto;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}

/*Footer*/
.footer {
    color: var(--btnLogin);
}

/*media query*/

@media only screen and (max-width: 650px){
    .card {
        width: 100%;
    }

    .card-flex {
        display: block;
    }
}