@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --confirmBtn: #0cce6b;
    --cancelBtn: #ef2d56;
    --bgColor: #F8FAFC;
    --btnLogin: #010C80;
    --btnSignUp: #010C80;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p, span, label {
    font-family: 'Inconsolata'
}

.dsp-flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.dsp-between {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.dsp-around {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.dsp-grid-center {
    display: grid;
    align-content: center;
    justify-content:center;
}


.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

body {
    background-color: var(--bgColor);
}

/*Navbar*/

.btnLogin {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    transition: ease-in-out 0.4s;
}

.btnLogin:hover {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
    transition: ease-in-out 0.4s;
}

.btnLogin:visited {
    background-color: var(--btnLogin);
    height: auto;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    font-family: 'Inconsolata';
    font-weight: 400;
    color: var(--bgColor);
    font-size: 18px;
    box-shadow: 5px 5px 5px 5px #b2b2b2;
    transition: ease-in-out 0.4s;
}

.imgLogo {
    height: auto;
    width: 200px;
}

.createAccountTxt {
    color: var(--btnLogin);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

/*section*/
.sectionHeight {
    height: 500px;
}

.registerDeveloper {
    border: 2px solid var(--btnLogin);
    background-color: var(--btnLogin);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--bgColor);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.registerDeveloper:hover {
    border: 2px solid var(--btnLogin);
    background-color: var(--bgColor);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--btnLogin);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.registerRecruiter {
    border: 2px solid var(--btnLogin);
    background-color: var(--bgColor);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--btnLogin);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.registerRecruiter:hover {
    border: 2px solid var(--btnLogin);
    background-color: var(--btnLogin);
    padding: 15px;
    margin: 15px;
    font-family: 'Inconsolata';
    color: var(--bgColor);
    text-align: center;
    border-radius: 5px;
    transition: ease-in-out 0.4s;
}

.testimonial {
    background-color: var(--btnLogin);
    border-radius:5px;
}

.testimonialTxt {
    color: var(--bgColor);
    font-size: 3rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cardTestimonial {
    border: 2px solid var(--bgColor);
    height: auto;
    width: auto;
    border-radius: 5px;
    margin: 10px;
}

.headerCardTestimonial {
    color: var(--bgColor);
    font-size: 22px;
    padding: 0px 10px 0px 10px;
}

/*register form*/
.FormSignUp {
    border: 2px solid var(--btnLogin);
    height:auto;
    width: 100%;
    border-radius: 5px;
    padding:15px;
}

.devSubmitForm {
    background-color: var(--confirmBtn);
    color:var(--bgColor);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: Inconsolata;
    font-size: 22px;
}

.clearForm {
    background-color: var(--cancelBtn);
    color: var(--bgColor);
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: Inconsolata;
    font-size: 22px;
}
/*Footer*/
.footer {
    color: var(--btnLogin);
}